modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
PORT = "3001"
FRONTEND_URL = "http://0.0.0.0:5000"
NODE_ENV = "development"
FROM_EMAIL = "noreply@guestymigrate.com"
JWT_SECRET = "223652fb3e313f1f1ff127a67d813deeb3255b55559b7b955bb164190e77e9c1f09aae3a6552702d6d7f8d561c8d49915b02771c870beba69eeb0af4d02ff8f1"
ENCRYPTION_KEY = "0728c3da741521557d4e4a9443928b4d80fd75e37202e47dac43282bd922e490"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "server/index.js"]
build = ["npm", "run", "build"]
